<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/lux/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-coy.min.css" rel="stylesheet">
	<link href="{{ baseUrl }}/overrides.css" rel="stylesheet">
	<script defer src="//cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script defer src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
	<script defer src="//cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
        <title>{{ title }} - {{ subTitle }}</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container">
	  <a class="navbar-brand" href="#">
	    <img src="{{ baseUrl }}/swoole-logo.png" alt="{{ title }}" />
	  </a>
	</div>
      </nav>
      <header class="mt-5">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	      <h1>{{ subTitle }}</h1>
	    </div>
	  </div>
	</div>
      </header>
      <div class="container-lg">
	{% block content %}
	{{ content|raw }}
	{% endblock %}
      </div>
    </body>
</html>
